    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" ng-app="peopleApp">
    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        
        <title></title>
        
        <script src="resources/js/angular.js"> </script>
        <script src="resources/js/angular-translate.min.js"> </script>

        <script src="app/app.js"></script>


        <script src="app/controller/ContentCtrl.js"> </script>
        <script src="app/controller/TableCtrl.js"> </script>
        <script src="app/controller/LanguageCtrl.js"> </script>
        
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    </head>
    
    <body ng-controller="ContentCtrl">

        <div class="container">

            <h1>
                {{ 'LESSON_ONE_TITLE' | translate}}
            </h1>


            <div class="row">

                <div class="col-lg-3">
                    <input type="button" value="{{toggleButtonText | translate}}" ng-click="showContent = !showContent" ng-class="showContent ? 'btn btn-primary' : 'btn btn-default'" />
                </div>

            </div>


            <hr/>


            <div ng-show="showContent" ng-controller="TableCtrl">

                <div class="row">
                    <div class="col-lg-3">
                        <input type="text" ng-model="query.$" class="form-control" placeholder="{{ 'FILTER_PEOPLE_BUTTON' | translate }}">
                    </div>
                </div>

                <hr/>


                <table class="table">
                    <tr>
                        <th><a href="" ng-click="sort('firstName')">{{ 'FIRST_NAME_COLUMN' | translate }}<span class="{{sortIcons[0]}}"></span></a></th>
                        <th><a href="" ng-click="sort('lastName')">{{ 'LAST_NAME_COLUMN' | translate }}<span class="{{sortIcons[1]}}"></span></a></th>
                        <th><a href="" ng-click="sort('age')">{{ 'AGE_COLUMN' | translate }}<span class="{{sortIcons[2]}}"></span></a></th>
                        <th><a href="" ng-click="sort('address.city')">{{ 'CITY_COLUMN' | translate }}<span class="{{sortIcons[3]}}"></span></a></th>
                        <th>
                            <select class="form-control" ng-model="selectedPhone">
                                <option value="home">{{ 'HOME_PHONE_NUMBER_COLUMN' | translate }}</option>
                                <option value="fax">{{ 'FAX_NUMBER_COLUMN' | translate }}</option>
                            </select>
                        </th>
                        <th>{{ 'ACTIONS_COLUMN' | translate }}</th>
                    </tr>

                    <tr>
                    	<td><input type="text" ng-model="query.firstName" class="form-control" placeholder="{{ 'FIRST_NAME_COLUMN' | translate }}"></td>
                    	<td><input type="text" ng-model="query.lastName" class="form-control" placeholder="{{ 'LAST_NAME_COLUMN' | translate }}"></td>
                    	<td><input type="text" ng-model="query.age" class="form-control" placeholder="{{ 'AGE_COLUMN' | translate }}"></td>
                    	<td><input type="text" ng-model="query.address.city" class="form-control" placeholder="{{ 'CITY_COLUMN' | translate }}"></td>
                    	<td><input type="text" ng-model="phoneNumberQuery" class="form-control" placeholder="{{ 'HOME_PHONE_NUMBER_COLUMN' | translate }}"></td>
                    	<td><input type="text" class="form-control" placeholder="{{ 'ACTIONS_COLUMN' | translate }}"></td>
                    </tr>

                    <tr ng-repeat="person in filterByPhoneNumber(people) | filter:query | orderBy:sortField:reverse">
                        <td>{{ person.firstName}}</td>
                        <td>{{ person.lastName}}</td>
                        <td>{{ person.age}}</td>
                        <td>{{ person.address.city }}</td>
                        <td>{{ (person.phoneNumber | filter : {type: selectedPhone})[0].number }}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                </table>


            </div>


            <hr/>

            <div class="footer" align="right" ng-controller="LanguageCtrl">

                <input type="button" value="{{ 'ENGLISH' | translate }}" ng-click="changeLanguage('en')" class="btn btn-info"/>

                <input type="button" value="{{ 'RUSSIAN' | translate }}" ng-click="changeLanguage('ru')" class="btn btn-info"/>

            </div>

        </div>

    </body>
</html>